<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
<style>
    /*Main block*/
    style {
        display: none !important;
    }
    ._customer-main {
        font-family: Roboto, sans-serif;
        color: #666;
        max-width: 947px;
        box-sizing: border-box;
        margin: 20px !important;
    }
    ._customer-main__top {
        border: 3px solid #a2c9d9;
        background: #f5faff;
        padding: 37px 0 27px;
        box-sizing: border-box;
    }
    ._customer-main__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    ._customer-main__item {
        width: 276px;
        margin: 0 18px 20px;
    }
    ._customer-main__ttl {
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        color: #333333;
        text-align: center;
        margin-bottom: 30px;
    }
    ._customer-main__content-ttl {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: #374a52;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    ._customer-main__content-text {
        font-size: 14px;
        line-height: 22px;
        font-weight: 300;
        color: #767e85;
    }
    ._customer-main__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        background: #f5faff url("img/block_main/bg-bottom.png") no-repeat top right;
        background-size: contain;
        padding-top: 19px;
        padding-bottom: 18px;
        padding-left: 147px;
        margin-top: 56px;
        position: relative;
    }
    ._customer-main__bottom:after {
        content: url("img/block_main/calculating.png");
        display: block;
        position: absolute;
        left: 0;
        top: -10px
    }
    ._customer-main__bottom-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: #374a52;
    }
    ._customer-main__bottom-btn a {
        width: 141px;
        height: 40px;
        background: #2776ab;
        text-transform: uppercase;
        border-radius: 3px;
        line-height: 40px;
        text-align: center;
        font-weight: 300;
        font-size: 13px;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin-left: 20px;
    }
    ._customer-main__bottom-btn:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.85;
    }
    @media (max-width: 768px) {
        ._customer-main__bottom {
            display: block;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 59px;
        }
        ._customer-main__bottom-btn a {
            margin: 20px auto 0;
        }
        ._customer-main__bottom-text {
            text-align: center;
        }
        ._customer-main__bottom:after {
            left: calc(50% - 40px);
            top: -45px
        }

    }
    /*end Main block*/
</style>
<!--Main block-->
<div class="_customer-main">
    <div class="_customer-main__top">
        <div class="_customer-main__ttl">
            Сервисные услуги
        </div>
        <div class="_customer-main__content">
            <div class="_customer-main__item">
                <div class="_customer-main__img">
                    <img src="img/block_main/image-1.png" class="_customer-main__img">
                </div>
                <div class="_customer-main__content-ttl">
                    Резка в размер
                </div>
                <div class="_customer-main__content-text">
                    У нас не обязательно покупать целые листы и стержни
                </div>
            </div>

            <div class="_customer-main__item">
                <div class="_customer-main__img">
                    <img src="img/block_main/image-2.png" class="_customer-main__img">
                </div>
                <div class="_customer-main__content-ttl">
                    Изготовление изделий
                </div>
                <div class="_customer-main__content-text">
                    Из оргстекла, фторопласта, текстолита, капролона, стеклотекстолита
                </div>
            </div>

            <div class="_customer-main__item">
                <div class="_customer-main__img">
                    <img src="img/block_main/image-3.png" class="_customer-main__img">
                </div>
                <div class="_customer-main__content-ttl">
                    Фрезерная резка с ЧПУ
                </div>
                <div class="_customer-main__content-text">
                    Точная обработка деталей, создание фигур и узоров
                </div>
            </div>
        </div>

    </div>
    <div class="_customer-main__bottom">
        <div class="_customer-main__bottom-text">Рассчитайте стоимость оргстекла в нашем калькуляторе</div>
        <div class="_customer-main__bottom-btn"><a href="/pages/12230-kalkulyator">Рассчитать</a></div>
    </div>
</div>
<!--end Main block-->