<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&subset=cyrillic');
    /*advantages*/
    ._customer-adv__container {
        max-width: 887px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 22px;
        color: #666666;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-top: 20px;
    }
    ._customer-adv__img {
        min-width: 65px;
        max-height: 65px;
    }
    ._customer-adv__item {
        margin-bottom: 20px;
        width: 47%;
        display: flex;
        box-sizing: border-box;
    }
    ._customer-adv__box {
        padding-left: 15px;
        padding-top: 20px;
    }
    ._customer-adv__ttl {
        font-size: 18px;
        line-height: 24px;
        color: #111111;
        font-weight: 600;
        margin-bottom: 10px;
    }
    ._customer-adv__cnt {
        margin: 0 !important;
    }
    @media (max-width: 992px) {
        ._customer-adv__item {
            width: 100%;
        }
    }
    /*advantages end*/
</style>
<div class="_customer-adv__container">
    <div class="_customer-adv__item">
        <img src="img/advantages/img-1.png" class="_customer-adv__img">
        <div class="_customer-adv__box">
            <div class="_customer-adv__ttl">Адекватная стоимость продукции</div>
            <div class="_customer-adv__cnt">Мы ориентируемся на долгосрочное сотрудничество, поэтому стремимся зарабатывать
                не за счет накруток цены, а благодаря большому количеству заказов.
            </div>
        </div>
    </div>
    <div class="_customer-adv__item">
        <img src="img/advantages/img-2.png" class="_customer-adv__img">
        <div class="_customer-adv__box">
            <div class="_customer-adv__ttl">Лучшие цены на услуги</div>
            <div class="_customer-adv__cnt">Резка оргстекла, капролона, текстолита, стеклотекстолита, фторопласта. Лучшие
                условия в регионе.
            </div>
        </div>
    </div>
    <div class="_customer-adv__item">
        <img src="img/advantages/img-3.png" class="_customer-adv__img">
        <div class="_customer-adv__box">
            <div class="_customer-adv__ttl">Профессиональные консультации</div>
            <div class="_customer-adv__cnt">Консультируем по всем товарам, помогаем с выбором изделий под конкретные задачи.
            </div>
        </div>
    </div>
    <div class="_customer-adv__item">
        <img src="img/advantages/img-4.png" class="_customer-adv__img">
        <div class="_customer-adv__box">
            <div class="_customer-adv__ttl">Наличие на складе</div>
            <div class="_customer-adv__cnt">Всегда в наличии как ходовой товар, так и неходовые марки и размеры материалов.
                Гарантируем высокую скорость отгрузки.
            </div>
        </div>
    </div>
    <div class="_customer-adv__item">
        <img src="img/advantages/img-5.png" class="_customer-adv__img">
        <div class="_customer-adv__box">
            <div class="_customer-adv__ttl">Доставка</div>
            <div class="_customer-adv__cnt">Доставка товара в день заказа или на следующий день. По городу — от 300 рублей.
                До транспортной компании — бесплатно.
            </div>
        </div>
    </div>
    <div class="_customer-adv__item">
        <img src="img/advantages/img-6.png" class="_customer-adv__img">
        <div class="_customer-adv__box">
            <div class="_customer-adv__ttl">Скидки</div>
            <div class="_customer-adv__cnt">Скидки по счету от конкурента. Индивидуальные скидки и фиксированные цены для
                постоянных клиентов.
            </div>
        </div>
    </div>
</div>